:root {
    scroll-behavior: smooth;
}

.utaheadingMain {
    display: flex;
    justify-content: center;
    text-decoration: none;
    border-bottom: 0.1em dotted #813f09;
    font-size: xx-large;
    font-weight: 900;
    color: #0064b1;
    margin-top: 0.5em;
    font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",-apple-system,sans-serif;
    text-align: center;
    align-items: center;
}

.navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.1em;
}
@media screen and (min-width: 992px) {
    .navbar .navbar-nav .nav-link {
        padding: 0 0.5em;
    }

}
.grouplogocontainer {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;

}

.groupcontactheadingContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
    margin-bottom: 1em;

}

.researchbutton {
    background-color: #cd4b13 !important;
    color: #fff !important;
}
.researchbutton:hover {
    background-color: white !important;
    color: #cd4b13 !important;
}

.GroupInfoContainer {
    background-color: whitesmoke;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

.ResearchpanelContainer {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(165deg,white,rgb(250, 224, 224));
}
.insideResearchContainer {
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.newsandannouncements li {
    margin-top: 0.5em !important;
    /* border-bottom: 2px solid  gray;  */
    margin-bottom: 0.8em !important;
}

.newlogo {
    animation: blinker 1s linear infinite !important;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.stt {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: rgb(128, 128, 255) url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='currentColor' d='M352 352c-8.188 0-16.38-3.125-22.62-9.375L192 205.3l-137.4 137.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25C368.4 348.9 360.2 352 352 352z'%3E%3C/path%3E%3C/svg%3E") center no-repeat;
    box-shadow: 0 0.25rem 0.5rem 0 gray;
    opacity: 0.7;
}
.stt:hover {
    opacity: 0.8;
}
.stt:focus {
    opacity: 0.9;
}
.stt:active {
    opacity: 1;
}
