/* line 5, /home/rails/hybridatelier.uta.edu/app/assets/stylesheets/reu.css.scss */
h1 .subtitle {
    font-size: 1.5em;
    margin-bottom: 6px !important;
  }
  
  /* line 9, /home/rails/hybridatelier.uta.edu/app/assets/stylesheets/reu.css.scss */
  h1 .meta, h3 .meta {
    font-weight: normal;
    font-size: 0.9em;
  }
  .video-container {
    width: 400px; /* Adjust the width as needed */
    height: 300px; /* Adjust the height as needed */
  }